aksharamukha==2.0.4
translators
num2words
indic-numtowords
nemo-text-processing

ffmpeg-python
librosa
soundfile

mosestokenizer
indic-nlp-library
mosestokenizer>=1.2.1
sacremoses>=0.0.53
subword-nmt>=0.3.8
fairseq>=0.12.2
xformers>=0.0.16